beartype
black[jupyter]
bokeh-sampledata
geodatasets
geopandas
geoviews
hvplot
ipywidgets
iris-sample-data
isort
jupyterlab
lightgbm
line-profiler
matplotlib
memory-profiler
mypy
numpy < 2
optuna
pandas > 2.2
pandas-stubs
panel
pip
pre-commit
pyright >= 1.1.391
python-magic
pyyaml
ruff
scikit-learn
scipy
scitools-iris
seaborn
setuptools
tqdm
types-pyyaml
types-seaborn
ucimlrepo
uv
xarray
