-i https://pkgs.safetycli.com/repository/self-ac894/project/ml-2025/pypi/simple/
beartype
black[jupyter] >= 25.1.0
bokeh-sampledata
geodatasets
geopandas >= 1.1.1
geoviews
html5lib
hvplot
ipywidgets >= 8.1.7
iris-sample-data
isort
jinja2 >= 3.1.6
jupyterlab >= 4.4.5
kagglehub
langchain >= 0.3.27
langchain-ollama
lightgbm
line-profiler
lmstudio
lxml
matplotlib
memory-profiler
mypy
nbstripout
numpy >= 2.1.3
optuna
pandas >= 2.3.1
pandas-stubs
panel >= 1.7.5
pip >= 25.1.1
pipdeptree
pre-commit >= 4.2.0
pyarrow >= 21.0.0
pymysql >= 1.1.1
pyright >= 1.1.407
python-magic
pyyaml >= 6.0.2
ruff
safety >= 3.6.0
scikit-learn >= 1.7.1
scipy >= 1.15.3
scitools-iris
seaborn
setuptools >= 80.9.0
streamlit
tabulate
torch >= 2.8.0
tqdm >= 4.67.1
typer
types-pyyaml
types-seaborn
ucimlrepo
uv >= 0.8.3
watchdog
xarray
ydata-profiling >= 4.17.0
