beartype
black[jupyter]
catboost
isort
jupyterlab
lightgbm
matplotlib
mypy
numpy < 2
pandas > 2.2
pandas-stubs
pip
pre-commit
pyright >= 1.1.390
pyyaml
ruff
scikit-learn
scipy
seaborn
setuptools
torchvision
tqdm
types-pyyaml
types-seaborn
ucimlrepo
uv
ydata-profiling
